{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script language="JavaScript">
        function myrefresh() {
            window.location.reload();
        }
        setInterval('myrefresh()',1000)
    </script>
  <meta charset="UTF-8">

  <title>精美CSS3聊天窗口DEMO演示</title>

    <link rel="stylesheet" href="{% static 'css/demo_02.css' %}" media="screen" type="text/css" />

</head>

<body>

  <div id="convo" data-from="Sonu Joshi">
<ul class="chat-thread">
    {% for text in texts %}
        <li>{{ text }}</li>
    {% endfor %}
</ul>
</div>

<div class="credits">
    <h4>手势识别结果:</h4>
    <div style="color: white;">{{ result }}</div>
</div>

</body>

</html>